@using Sitecore.Mvc

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
</head>
<body>
    <div>
        @Html.Sitecore().Placeholder("Header")
    </div>
    <div class="container">
        <form style="background-color: #f7f9fc; vertical-align:central;" class="text-center border border-light p-5 mb-4 col-md-6 offset-md-3 needs-validation" novalidate>
            <div asp-validation-summary="ModelOnly"></div>
            <p class="h4 mb-4">Sign in</p>
            <div>
                <input type="email" asp-for="Email" id="defaultLoginFormEmail" class="form-control mb-2 col-md-8 offset-md-2" placeholder="E-mail" required pattern="^(?=.*[.]).{1,}$">
                <span asp-validation-for="Email" class="invalid-feedback">
                    Please, write correct Email!
                </span>
            </div>

            <div>
                <input type="password" asp-for="Password" id="defaultLoginFormPassword" class="form-control mb-2 col-md-8 offset-md-2" placeholder="Password" required>
                <span asp-validation-for="Password" class="invalid-feedback">
                    Password cannot be empty!
                </span>
            </div>

            <button class="btn btn-info btn-block my-4 col-md-6 offset-md-3" type="submit">Sign in</button>
            <p>
                Not a member? @Html.Sitecore().Placeholder("Register Placeholder")
            </p>
        </form>
    </div>
    @*<footer class="page-footer font-small blue pt-4">*@
    <footer class="footer mt-auto py-3 fixed-bottom">
        <div class="footer-copyright text-center py-3">
            © 2019 Copyright: @Html.Sitecore().Field("Footer")
        </div>
    </footer>
    <script type="text/javascript" src="~/Scripts/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript">
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ($('#popupdiv').html() != '') {
                $("#popupdiv").show();
            }
        });
    </script>
</body>
</html>