.carousel-inner {
    transform: none;
    margin-top: 5px;
}

.img-container {
    background-size: cover;
    width: 300px;
    height: 100px;
    overflow: hidden;
    background-color: #F50000;
    text-align: center;
}

.img-container img {
    height: 500px;
    width: auto;
    max-width: 100%;
}