<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site name="QuadBike" patch:before="site[@name='website']"
           virtualFolder="/"
           physicalFolder="/"
           rootPath="/sitecore/content/Sam/QuadBike"
           language="en"
           startItem="/Home"
           database="web"
           domain="extranet"
           allowDebug="true"
           cacheHtml="true"
           htmlCacheSize="50MB"
           enablePreview="true"
           enableWebEdit="true"
           enableDebugger="true"
           disableClientData="false"
           hostName="sitecoreSC0731"
           targetHostName="sitecoreSC0731"/>
    </sites>
  </sitecore>
</configuration>