<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Sam.QuadBike.Serialization">
          <targetDataStore physicalRootPath="C:\Projects\Sam.QuadBike\Serialization\Sam.QuadBike.Serialization\serialized"
                           useDataCache="false"
                           type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
                           singleInstance="true"/>
          <predicate>

            <!-- Master db: Content -->
            <!--<include name="Content.Sam" database="master" path="/sitecore/content/sam" />-->
            <include name="Content" database="master" path="/sitecore/content/Sam" />

            <!-- Master db: Templates, Renderings, Placeholders, Layouts, Branches -->
            <include name="Templates.Foundation" database="master" path="/sitecore/templates/Foundation" />
            <include name="Templates.Feature" database="master" path="/sitecore/templates/Feature" />
            <include name="Templates.Project" database="master" path="/sitecore/templates/Project/QuadBike" />
            
            <include name="Layouts.Foundation" database="master" path="/sitecore/Layout/Layouts/Foundation" />
            <include name="Layouts.Feature" database="master" path="/sitecore/Layout/Layouts/Feature" />
            <include name="Layouts.Project" database="master" path="/sitecore/Layout/Layouts/Project" />
            
            <include name="Renderings.Foundation" database="master" path="/sitecore/Layout/Renderings/Foundation" />
            <include name="Renderings.Feature" database="master" path="/sitecore/Layout/Renderings/Feature" />
            <include name="Renderings.Project" database="master" path="/sitecore/Layout/Renderings/Project" />

            <include name="MediaLibrary" database="master" path="/sitecore/media library/Images/QuadBike" />
            
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>